<template>
    <div class="card">
        <div class="card-header">
            {{title}}
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input type="text" class="form-control" v-model="form.name">
                        <small class="text-danger" v-if="errors.name">{{errors.name[0]}}</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input type="text" class="form-control" v-model="form.email">
                        <small class="text-danger" v-if="errors.email">{{errors.email[0]}}</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Phone</label>
                        <input type="text" class="form-control" v-model="form.phone">
                        <small class="text-danger" v-if="errors.phone">{{errors.phone[0]}}</small>
                    </div>
                </div>
                <div class="col-6">
                    <div class="form-group">
                        <label>Address</label>
                        <textarea rows="2" class="form-control" v-model="form.address"></textarea>
                        <small class="text-danger" v-if="errors.address">{{errors.address[0]}}</small>
                    </div>
                </div>
            </div>
            <button class="btn btn-sm btn-primary" @click="save()">Save</button>
        </div>
    </div>
</template>

<script>
    import {createCustomer, formEditCustomer, updateCustomer} from "../../apis/customer";

    export default {
        data() {
            return {
                title: 'Create',
                form: {
                    name: '',
                    email: '',
                    phone: '',
                    address: ''
                },
                errors: {}
            }
        },
        created() {
            if(this.$route.meta.mode === 'edit') {
                this.title = 'Edit';
                this.fetchData();
            }
        },
        methods: {
            fetchData() {
               formEditCustomer(this.$route.params.id)
                   .then(res => this.form = res.form)
                   .catch(err => console.log(err))
            },
            save() {
                let form = this.form;
                if(form.id && form.id !== '') {
                    updateCustomer(form)
                        .then(res => {
                            if(res.saved === true) this.$router.push('/customer');
                        })
                        .catch(err => {
                            if(err.status === 422) this.errors = err.data.errors;
                        })
                } else {
                    createCustomer(form)
                        .then(res => {
                            if(res.saved === true) this.$router.push('/customer');
                        })
                        .catch(err => {
                            if(err.status === 422) this.errors = err.data.errors;
                        })
                }
            }
        }
    }
</script>