<template>
    <div class="card">
        <div class="card-header">
            <div class="row">
                <div class="col-6">
                    {{customer.name}} / {{customer.email}}
                </div>
                <div class="col-6 float-right">
                    <div class="float-right">
                        <button class="btn btn-sm btn-primary"
                                @click="$router.push('/customer/' + customer.id + '/edit')">
                            Edit
                        </button>
                        <button class="btn btn-sm btn-danger" @click="remove()">Delete</button>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-body">
            <div class="row">
                <div class="col-3">
                    <label class="font-weight-bold">Name</label>
                    <p>{{customer.name}}</p>
                </div>
                <div class="col-3">
                    <label class="font-weight-bold">Email</label>
                    <p>{{customer.email}}</p>
                </div>
                <div class="col-3">
                    <label class="font-weight-bold">Phone</label>
                    <p>{{customer.phone}}</p>
                </div>
                <div class="col-3">
                    <label class="font-weight-bold">Address</label>
                    <p>{{customer.address}}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import {showCustomer, deleteCustomer} from "../../apis/customer";

    export default {
        data() {
            return {
                customer: {}
            }
        },
        created() {
            this.fetchData();
        },
        methods: {
            fetchData() {
                showCustomer(this.$route.params.id)
                    .then(res => this.customer = res.customer)
                    .catch(err => console.log(err))
            },
            remove() {
                if(confirm('are you sure?')) {
                    deleteCustomer(this.$route.params.id)
                        .then(res => {
                            if(res.deleted === true) {
                                this.$router.push('/customer');
                            }
                        })
                        .catch(err => console.log(err))
                }
            }
        }
    }
</script>